*{
	margin: 0;
	padding: 0;
}

.calendar{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100vh;
	width: 100%;
}

#wrapper{
	width: 800px;
}

#wrapper::after{
	display: block;
	content: "";
	clear: both;
}

#lefttable{
	float: left;
}
#righttable{
	float: right;
}

td{
	width: 50px;
    height: 50px;
    text-align: center;
}

span{
	margin-left: 50px;

}

#lhead,#rhead{
	background-color: rgb(0, 140, 255);
	height: 35px;
}

